<%= form_with(model: prodotti) do |form| %>
  <% if prodotti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prodotti.errors.count, "error") %> prohibited this prodotti from being saved:</h2>

      <ul>
        <% prodotti.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :codice, class: 'form-label'%>
          <%= form.text_field :codice, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :nome, class: 'form-label'%>
          <%= form.text_field :nome, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :numeropezzo, class: 'form-label' %>
          <%= form.text_field :numeropezzi, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :ingredienti, class: 'form-label' %>
          <%= form.text_field :ingredienti, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :prezzo, class: 'form-label' %>
          <%= form.text_field :prezzo, class: 'form-control' %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm form-label">
          <%= form.label :cover, class: 'Cover' %>
          <%= form.file_field :cover, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
        
    <div class="actions btn btn-primary">
      <%= form.submit %>
    </div>
  </div>

<% end %>

