<h1>Prodottis</h1>

<% if user_signed_in? %>
  Benvenuto <b><%= current_user.email %></b>!
  <br><%= link_to "Log Out", destroy_user_session_path, method: :delete
<% end %>

<table class=table>
  <tbody>
    <% @prodottis.each do |prodotti| %>
      <tr>
        <td >
          <% if prodotti.cover.attached? %>
          <%= link_to (image_tag url_for(prodotti.cover) ,:class => "w-50"), prodotti %>
          <% end %>
        </td>
        <td class="tabela"><b><%= prodotti.codice %>. <%= prodotti.nome %> (<%= prodotti.numeropezzi %> pz.)</b> <br> <%= prodotti.ingredienti %></td>
        <td></td>
        <td></td>
        <td><%= prodotti.prezzo %> €</td>
        <td><%= link_to 'Modifica', edit_prodotti_path(prodotti), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Elimina', prodotti, method: :delete, data: { confirm: 'sei sicuro?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="prodottis/new"><button type="button" class="btn btn-primary">Nuovo Prodotto</button></a>

